# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* List popular languages for Data Science
* List common libraries used by Data Scientists
* List Data science Tools
* Evaluate a few arithmetic expressions in Python
* Create ordered/unordered lists in Jupyter Notebook

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL database
4. Scala
5. Julia
6. C++
7. Java

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Matplotlib
4. Seaborn
5. Scikit

|Data Science Tools|
|------------------|
|Jupyter Notebook|
|R/RStudio|
|Apache Spark|

### Below are a few examples of evaluating arithmetic expressions in Python

In [10]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [11]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

**Author**
Simon Zhou